[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]
pytest = "*"
httpx2 = "*"

[requires]
python_version = "3.14"

[scripts]
start = "uvicorn src.app:app --reload"
unit = "pytest tests/unit -v"
integration = "pytest tests/integration -v"
