[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]
pytest = "*"
httpx2 = "*"
pytest-cov = "*"
ruff = "*"

[requires]
python_version = "3.14"

[scripts]
start = "uvicorn src.app:app --reload"
lint = "ruff check src tests"
unit = "pytest tests/unit -v --cov=src --cov-report=term-missing"
integration = "pytest tests/integration -v --cov=src --cov-report=term-missing"
